# Large model files
models/**/pytorch_model.bin
models/**/model.safetensors
models/**/*.safetensors
models/**/*.bin
models/**/*.ckpt
models/**/*.pt
models/**/*.pth

/mrc/
/reranker/src/mrc/mrc.ckpt

# Unnecessary model directories
models/**/onnx/
models/**/1_Pooling/
models/**/imgs/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
.docker/
milvus/
volumes/
docker-data/
reranker/models/

# System
.DS_Store
Thumbs.db

# Config
/config/